<div class="formtitle">
    <h3><u>Track Your meals here you fat fuck!</u></h3>

</div>
<form>
    <div class="form-group">
        <label for="Name">Meal Name:</label>
        <input type="text" placeholder="e.g Rice" class="form-control" required>
        <br>
        <label for="calories">Calories:</label>
        <input type="number" placeholder="500" class="form-control" required>
        <br>
        <label for="description">Details:</label>
        <input type="text" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit Details</button>
</form>